.ws-newActivity>.container{height: 200px;border-bottom: 2px solid #ddd;}
		.ws-newActivity>.container>li{float: left;list-style: none;padding-right: 10px;margin-top: 10px;}
		
		.title{height: 67px;padding:15px 0 10px;width: 1280px;}
		.title>img{display: inline-block;}
		.title>a{float: right;font-size: 20px;padding-right: 10px;}
		
		.giftList{height: 620px;}
		.ws-gift{float: left;margin:0 5px 5px 0;}
		.ws-gift>a{width: 246px;height: 248px;overflow:hidden;display: block;}
		.ws-gift>a>img{width: 246px;height: 248px; transition:all 0.5s linear;}
		.ws-gift>a:hover img{transform:scale(1.1);}
		.ws-gift:nth-of-type(5n){margin-right: 0px;}
		.ws-gift>.ws-info{width: 248px;height: 48px;margin-top: 5px;position: relative;}
		.ws-gift>.ws-info>div{border:1px solid orange;border-radius: 50%;width: 34px;height: 34px;text-align: center;position: absolute;padding-top:3px;top:0px;right: 10px;}
		.ws-gift>.ws-info>div{transition:top 0.2s linear;}
		.ws-gift>.ws-info>div:nth-of-type(2){background-color: orange;top:20px;right:10px;display: none;}

		.ws-gift>.ws-info>div:nth-of-type(2) i{color: white};
	
		.ws-gift>.ws-info>span:nth-of-type(1){color:black;display:block;font-size: 14px;}
		.ws-gift>.ws-info>span:nth-of-type(2){padding-left: 5px;display:block;font-size: 14px;}
		.ws-gift>.ws-info>div>i{display: block;font-size: 20px;color:orange;}

		.t1,.t2{margin-bottom: 50px;}