	.ws-topnav{background-color: #eee;height: 30px;line-height: 30px;}
		.ws-tnavleft{float: left;}
		.ws-tnavleft>span{height: 30px;display:inline-block;margin-right: 10px;position: relative;padding: 0 10px;}
	
		.ws-tnavleft>span>span{margin:0 3px;font-size: 14px;height: 30px;}
		.ws-tnavleft>span>span>i{font-size: 12px;display: inline-block;margin-left: 5px;}
		.ws-tnavleft>.city{display:none;z-index:1;position: absolute;top:30px;width: 295px;height: 380px;overflow-y: scroll;box-shadow: 0 10px 15px rgba(175,175,175);background-color: white;}
		.ws-tnavleft>.city>.hot{display: block;height: 30px;background-color: #f1f1f1;}
		.ws-tnavleft>.city>.hot>li{float:left;padding: 0 10px;}
		a:hover{color:green;text-decoration: none;}
		.ws-tnavleft>.city>.select>li{position: relative;}
		.ws-tnavleft>.city>.select>li>a{border-bottom: 1px solid #eee;width: 258px;display: block;padding-left: 10px;height: 34px;}
		.ws-tnavleft>.city>.select>li>i{position: absolute;top:0px;right: 20px;}
		.ws-tnavleft>.city>.select>li>div>a{display: block;width: 258px;height: 35px;border-bottom: 1px dashed #eee;padding-left: 40px;}
		.ws-tnavleft>.city>.select>li>div{display: none;}

		.ws-tnavRight{float: right;}
		.ws-tnavRight>ul>li{float: left;border-right: 1px solid #ccc;padding:0 15px;line-height: 25px;margin-top: 5px;}
		.ws-tnavRight>ul>li>span{}
		.ws-tnavRight>ul>li>a:nth-of-type(2){margin-left: 20px;}
		.ws-tnavRight>ul>li>a{color:#999;}
		.ws-tnavRight>ul>li>a:hover{color:green;text-decoration: none;}
		.ws-tnavRight>ul>li:nth-child(2){position: relative;}
		.ws-tnavRight>ul>li:nth-child(4){position: relative;}
		.app{display:none;position:absolute;top:25px;left:-100px;width: 290px;height: 290px;z-index: 1;box-shadow: 0 10px 15px rgba(175,175,175);background-color: white;}
		.appTop{height: 150px;border-bottom: 1px solid #ccc;padding:0 10px;}
		.appTop>p>a{color:green;margin-right: 10px;}
		.appTop>p{text-align: center;}
		.appTop>img{float: left;margin:10px 10px 0 0px;width: 100px;height: 100px;}
		.appTop>div{float: left;margin-top: 20px;}
		.appTop>div>span{display: block;width: 146px;height: 36px;background-color: #64a131;color:white;margin-bottom: 20px;border-radius: 5%;text-align: center;padding-top: 5px;font-size: 14px;}
		.appTop>div>span>i{display: inline-block;font-size: 20px;margin-right: 15px;}
		.appBot>img{float: left;margin:10px 10px;width: 100px;height: 100px;}
		.appBot>div{float: left;margin-top: 30px;}
		.appBot>div>span{display: block;}
		.appBot>div>span>a{color:green;margin-right: 10px;}


		.notice{width: 240px;max-height: 160px;position: absolute;top:25px;background-color: white;z-index: 1;box-shadow: 0 10px 15px rgba(175,175,175);padding: 0 20px;display: none;left:-140px;}
		.notice>ul>li{	height: 36px;border-bottom: 1px dashed #ddd;line-height: 36px;}
		.notice>ul>li:last-child{text-align: center;}
		.notice>ul>li:last-child a {color:green;}
		.notice>ul>li>a{line-height: 16px;}




		.ws-botnav{height: 120px;padding: 20px 0;box-shadow: 0 2px 8px rgba(230,230,230,0.75);}
		.ws-botnav>.container>img{float: left;margin-right: 20px;}
		.ws-botnav>.container>ul>li{float: left;width: 92px;height: 80px;text-align: center;padding: 20px 0 ;}
		.ws-botnav>.container>ul>li>a{text-align: center;display: block;padding: 0 20px;}
		.ws-botnav>.container>ul>li>a>span{display: block;}
		.ws-botnav>.container>ul>li:nth-of-type(1) a{color:#64a131;}
		.ws-botnav>.container>ul>li:nth-of-type(1){border-bottom: 2px solid #64a131;}
		.ws-botnav>.container>ul>li:hover{background-color: #eee;}
		.ws-botnav>.container>ul>li>a{color:#999;}
		.ws-botnav>.container>.search{float: right;height: 50px;width: 180px;position: relative;padding-top: 20PX;}
		.ws-botnav>.container>.search>input{border:0 none;border-bottom: 1px solid black;width: 180px;padding-right: 40px;}
		.ws-botnav>.container>.search>i{position: absolute;top:15px;right: 10px;}

		.ws-botnav>.container>.mainCar{margin-top:10px;width: 42px;height: 42px;border-radius:36% 45% 51% 40%;background-color: #64a131;float: right;text-align: center;padding-top: 5px;color: white;position: relative;}
		.ws-botnav>.container>.mainCar>i{font-size: 26px;color: white;}
		.ws-botnav>.container>.mainCar>span{position: absolute;top:-5px;left:18px;font-size: 17px;}

